.idea/
assets/bower
assets/css/*
!assets/css/prettyPhoto.css
assets/js/*
!assets/js/jquery.prettyPhoto.js
assets/fonts
compiler.sh
composer.lock
dist/
languages/*
!languages/countries.php
!languages/strings.php
node_modules
vendor/