mark {
  display: block;
  text-align: left;
  text-indent: -9999px;
  height: 16px;
  width: 16px;
  background: #ffffff;
  -webkit-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 1px auto;
  font-size: 9px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all ease-in-out 0.1s;
}
mark.jigoshop-new {
  background: #cbe600;
}
mark.jigoshop-pending {
  background: #e66f00;
}
mark.jigoshop-completed {
  background: #98c242;
}
mark.jigoshop-on-hold {
  background: #e21b23;
}
mark.jigoshop-cancelled {
  background: #dfdfdf;
}
mark.jigoshop-processing {
  background: #2184c2;
}
mark.jigoshop-refunded {
  background: #cccccc;
}
